<script lang="ts">
  import { Link } from 'svelte-routing'
  import { MAIN_BRANCH } from '../../models/Store'
  import { baseUrl } from '../../paths';

  export let branch: string
</script>

<Link class="nav-link" to="{baseUrl}/dev">
  {#if branch === MAIN_BRANCH}
    Dev
  {:else}
    <!-- TODO: branch icon -->
    {branch}
  {/if}
</Link>
